<br />
<div class="row">
    <form>
        <div class="container">
            <div class="row  mb-3">
                <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                        <input type="text" id="primer_nombre" name="primer_nombre" [(ngModel)]="persona.primer_nombre"
                            placeholder="Primer nombre" class="form-control  form-control-sm" />
                        <label for="primer_nombre" class="form-label">Primer nombre</label>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text" id="segundo_nombre" name="segundo_nombre"
                            [(ngModel)]="persona.segundo_nombre" placeholder="Segundo nombre"
                            class="form-control  form-control-sm" />
                        <label for="segundo_nombre" class="form-label">Segundo nombre</label>
                    </div>
                </div>
            </div>
            <div class="row  mb-3">
                <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                        <input type="text" id="primer_apellido" name="primer_apellido"
                            [(ngModel)]="persona.primer_apellido" placeholder="Primer apellido"
                            class="form-control  form-control-sm" />
                        <label for="primer_apellido" class="form-label">Primer apellido</label>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                        <input type="text" id="segundo_apellido" name="segundo_apellido"
                            [(ngModel)]="persona.segundo_apellido" placeholder="Segundo apellido"
                            class="form-control  form-control-sm" />
                        <label for="segundo_apellido" class="form-label">Segundo apellido</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                        <input type="date" class="form-control" (change)="SendDataonChange($event)" />
                        <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento</label>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div><label class="form-label">Sexo:</label></div>
                    <div class="form-check form-check-inline" *ngFor="let genero of generos">
                        <input class="form-check-input" type="radio" name="sexo" (click)="cambiarGenero(genero)">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{genero.value}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">

                <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Default select example"
                            [(ngModel)]="persona.estudios" name="estudios">
                            <option *ngFor="let estudio of estudios" [ngValue]="estudio"> {{estudio.value}}</option>
                        </select>
                        <label for="floatingSelect">Estudios</label>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <button type="button" class="btn btn-success form-control  form-control-sm"
                        (click)="agregarLista()">Agregar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<h1>Personas registradas</h1>
<div [ngSwitch]="listaPersonas.length > 0">
    <div *ngSwitchCase="false" class="m-0 row justify-content-center">
        <p>Lo sentimos no se ha registrado ninguna informaci&oacute;n....</p>
    </div>
    <div *ngSwitchCase="true" class="m-0 row justify-content-center">
        <table class="table" [ngStyle]="{'max-width':'800px'}">
            <thead>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Estudios</th>
                <th>Genero</th>
                <th>Fecha de nacimiento</th>
                <th>Menor de edad</th>
            </thead>
            <tbody *ngFor="let persona of listaPersonas">
                <td>{{ persona.primer_nombre + " " + (persona.segundo_nombre | na) }}</td>
                <td>{{ persona.primer_apellido + " " + (persona.segundo_apellido? persona.segundo_apellido : "") }}</td>
                <td>{{ persona.estudios?.value}}</td>
                <td>{{ persona.sexo?.value}}</td>
                <td>{{ (persona.fecha_nacimiento ? (persona.fecha_nacimiento | date) : '' )}}</td>
                <td>{{ (persona.fecha_nacimiento ? (calcularEdad(persona.fecha_nacimiento) > 18? 'NO' : 'SI')  : '' )}}</td>
            </tbody>
        </table>
    </div>
</div>